<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_educativa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_educativa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".actividades.basico.portada_letras"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.portada_vocal"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.entrada_basico"
            android:exported="false" />
        <activity
            android:name=".actividades.intermedio.numero3_intermedio"
            android:exported="false" />
        <activity
            android:name=".actividades.intermedio.numero2_intermedio"
            android:exported="false" />
        <activity
            android:name=".actividades.intermedio.numero1_intermedio"
            android:exported="false" />
        <activity
            android:name=".actividades.intermedio.entrada_menuIntermedio"
            android:exported="false" />
        <activity
            android:name=".actividades.intermedio.menu_intermedio"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.basicoU"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.basicoI"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.basicoE"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.basicoA"
            android:exported="false" />
        <activity
            android:name=".actividades.basico.basicoO"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.iniciar_sesionMaestro"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.tipo_usuario"
            android:exported="false" />
        <activity
            android:name=".actividades.nivel_avanzado"
            android:exported="false" />
        <activity
            android:name=".actividades.menu_niveles"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.alumno_registrado"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.maestro_registrado"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.reg_maestro"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.reg_alumno"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.crear_cuenta"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.Login"
            android:exported="false" />
        <activity
            android:name=".Inicio_sesion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>